/* ==========================================================================
Corrections / Custom
========================================================================== */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

body {
	background: rgb(40, 70, 102) no-repeat center center;
}

.hero {
    /*background: rgb(40, 70, 102) no-repeat center center;*/
    background: url('../img/showcase-ide-01.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}

section {
    color: #fff !important;
}

section.title {
    background-color: #3f6184;
}

.nav-toggle, .navicon-fixed {
    z-index: 7999;
}

.navicon-fixed {
    right: 8%;
}

.navicon-fixed a {
    padding: 0 !important;
}

.navicon-fixed a div {
    background-color: #284666;
}

p.browsehappy {
    color: #fff !important;
}

/*a.aref, a.aref:focus {*/
a.aref {
    color: violet;
    text-decoration: none;
}

ul.no-ul > li {
    display: inline-block;
    padding: 5px 2px;
    text-decoration: none !important;
}

ul.no-ul > li > span.label {
    font-size: 100% !important;
}
