/* Main */

.is-dark a,
.is-dark a:hover
.is-dark a:active {
    color: #fff;
    text-decoration: underline;
}

body {
    padding: 0 2rem;
    margin: 2rem;
}

.nes-container:not(:last-child) {
    margin-bottom: 1rem;
}

i.brand {
    margin-right: 1rem;
}

div.containers {
    .nes-container {
        display: inline-block;
        max-width: 400px;
        background: #fff;
    }
}

.balloon.nes-container .nes-balloon {
    max-width: 600px;
    margin: 2rem 2rem;
}

.balloon.nes-container {
    .messages {
        display: flex;
        flex-direction: column;
    }
    .message {
        display: flex;
        i {
            align-self: flex-end;
        }
    }
    .message.-left {
        align-self: flex-start;
    }
    .message.-right {
        align-self: flex-end;
    }
} 

.form.nes-container > .nes-field:not(:last-child) {
    margin-bottom: 1rem;
}

.footer {
    text-align: center;
    a {
        color: #333;
        text-decoration: none;
    }
}

.github-link {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: flex;
    height: 100px;
    color: #333;
    text-decoration: none;
    :hover {
        text-decoration: none;
    }
    p.nes-balloon {
        align-self: flex-start;
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
        color: #333;
    }
    i.nes-octocat {
        align-self: flex-end;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 0;
        margin: 2rem 0.2rem;
    }
    .balloon.nes-container .nes-balloon {
        max-width: 70%;
    }
    .github-link {
        display: none;
    }
}

#main-container {
    text-align: center;
}

#profile-container {
    display: none;
    border: none !important;
}

.no-borders, .nes-dialog {
    &self::after {
        border: none !important;
    }
}

.profile-list {
    font-size: 11.5px;
    list-style: none;
    li {
        margin-left: -40px;
    }
}

.too-small-warning {
    display: none;
    text-align: center;
    margin: 30% 5%;
}

.main-screen {
    display: block;
}

#sensei-btn {
    font-size: 11px;
}

/* Micro updates */

#update-container {
    display: none;
    div {
        max-width: 400px;
    }
}

#all-post {
    min-width: 240px;
}

.post-list {
    p.title {
        font-size: 10px;
    }
    p.post-sentence {
        font-size: 8.5px;
        text-align: left;
        line-break: strict;
        word-wrap: normal;
    }
}

/* Patches */

.nes-btn {
    span {
      display: none;
      font-size: 14px;
    }
}

dialog {
    display: block;
}

