// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.containers .btn-group-vertical {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

body {
  .nes-btn {
    // Design override
    border-radius: 0;
    border-image-repeat: unset;

    // Manual override (from nes-css)
    // TODO: Set cursor URL as variable.
    // See issue: https://github.com/nostalgic-css/NES.css/issues/339
    &.nes-pointer {
      cursor:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
          14 0,
        pointer;
    }

    // Manual override (contrast concerns)
    &.is-success {
      color: #000 !important;
    }
  }
}

// Color modes
// body {
//   &:not(.dark) {
//     .nes-btn {
//       border-image-repeat: unset;
//     }
//   }
// }
