#dialog-industries {
  max-width: 960px;
  height: fit-content;

  .title {
    margin: 0;
  }

  .industry-card {
    margin-bottom: 1rem;
    text-align: center;

    .industry-icon {
      font-size: 2rem;

      @include mq($from: smallest, $until: mobile) {
        font-size: 1.5rem;
      }
    }

    .industry-companies {
      font-size: 12px;

      @include mq($from: smallest, $until: mobile) {
        font-size: 11px;
        padding-left: 0;
        list-style: none;
      }
    }

    @include mq($from: smallest, $until: mobile) {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &.is-dark {
    .industry-card {
      color: #fff;
    }
  }
}
