#dialog-projects {
  .subtitle {
    font-size: 13px;
  }

  .dialog-menu {
    padding: 0; // tentative
    margin-bottom: 0;
  }

  .card-group {
    @include mq($from: tablet, $until: desktop) {
      display: unset;
    }

    & > .card {
      border: 1px solid rgba(0, 0, 0, 0.125) !important;
      flex: 1 1 30%; /*grow | shrink | basis */
      height: 40vh;

      &:hover > .card-body {
        // TODO: Set this as variable
          // TODO: Color not final
        background: #e3e3e4;

        .text-muted {
          color: #000 !important;
        }
      }
    }

    .card .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-text {
        font-size: 13px;
        text-align: center;
        word-break: break-word;
        hyphens: auto;
      }
    }
  }

  // FOR DARK MODE
  &.is-dark {
    .card-group {
      .card {
        .card-body {
          background: #212529;
        }

        &:hover > .card-body {
          // TODO: Set this as variable
          // TODO: Color not final
          background: #4d565f;

          .text-muted {
            color: #fff !important;
          }
        }
      }
    }
  }
}