.nes-container > .containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .updates-wrapper {
    width: 100%;
    margin-top: 1em;
  }
}

// Design override
.main-screen {
  .nes-dialog {
    &::backdrop,
    & > .backdrop {
      background-color: rgba(0, 0, 0, 0.8);
    }

    &.is-dark:not(.is-rounded)::before {
      position: absolute;
      height: calc(100% - 8px);
      width: calc(100% - 8px);
      margin: 0 auto;
    }
  }
}
